@model IEnumerable<DetailWorkflow.Models.Part>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Parts List</strong>
    </div>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInstalled)
            </th>
            <th>
                @Html.ActionLink("Add", "Create", "Parts",
                new { workOrderId = ViewBag.WorkOrderId },
                new { @class = "btn btn-primary", data_modal = "" })
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryItemName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.ExtendedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInstalled)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Parts",
                    new { id = item.PartId, workOrderId = ViewBag.WorkOrderId },
                 new { @class = "btn btn-default", data_modal = "" }) |
                    @Html.ActionLink("Delete", "Delete", "Parts",
                    new { id = item.PartId, workOrderId = ViewBag.WorkOrderId },
                 new { @class = "btn btn-danger", data_modal = "" })
                </td>
            </tr>
        }

    </table>

</div>
