@model IEnumerable<DetailWorkflow.Models.ServiceItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceItemId })
        </td>
    </tr>
}

</table>
