@model IEnumerable<DetailWorkflow.Models.InventoryItem>

@{
    ViewBag.Title = "Inventory Items";
}

<h2>Inventory Items</h2>

@using (Html.BeginForm("Index", "InventoryItems", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.Label("search", "Item Code or Name: ", new { @class = "control-label" })
    @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-default"/>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Category", "Index", new { sort = ViewBag.CategorySort })
        </th>
        <th>
            @Html.ActionLink("Item Code", "Index", new { sort = ViewBag.ItemCodeSort })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sort = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Unit Price", "Index", new { sort = ViewBag.UnitPriceSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InventoryItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InventoryItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InventoryItemId })
            </td>
        </tr>
    }

</table>
