@model DetailWorkflow.Models.Labor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Labor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceItemCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceItemCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
